.content {
	border-radius: 5px;
	min-height: 390px;
	margin-bottom: 25px;
	color: #FFF;
	background-color: #996cb8;
}

.content p {
	margin-left: 5px;
	padding-top: 5px;
	font-family: ProximaNova;
	font-size: 20px;
	color: 
}